/*SideMenuItem container styling*/
.SideMenuItem {
    border-bottom: solid 1px #f5f5f5;
    line-height: 60px;
    font-weight: 400;
    font-size: 12px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    text-transform: lowercase;
    position: relative;
    transition: all 0.35s ease-in-out;
}

@media (min-width: 810px) {
    .SideMenuItem {
        line-height: 70px;
    }
}

/*Links styling*/
.SideMenuItem a,
.SideMenuItem span {
    display: block;
    padding: 0 20px;
}

.SideMenuItem a:link,
.SideMenuItem a:visited {
    text-decoration: none;
    color: black;
}

/*Hovering effects*/
.SideMenuItem:hover {
    background-color: #f5f5f5;
}

.SideMenuItem::after {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    content: "\6a";
    font-family: mahabis-icons;
    font-size: 13px;
    color: #999;
    line-height: 1;
}
/*Images in the sidenav list styling*/
.SideMenuItem img {
    vertical-align: middle;
    padding-right: 15px;
    mix-blend-mode: multiply;
    width: 190px;
    height: 127px;
}
@media (max-width: 500px) {
    .SideMenuItem img {
        width: 90px;
        height: 60px;
    }
}