/*Main Header container styling*/
.MainNavHeader {
    background-color: #fff;
    height: 60px;
    width: 100%;
    z-index: 5000;
    position: fixed;
    top: 0;
    left: 0;
}
/*Logo styling*/
.LogoLink {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
    color: #111;
    font-size: 16px;
    font-weight: 600;
}
.Logo {
    display: block;
    margin: auto;
    width: 25px;
    margin-bottom: -5px;
}

@media (min-width: 810px) {
    .MainNavHeader{
        height: 70px;
    }
    .Logo {
        width: 30px;
    }
    .LogoLink {
        font-size: 19px;
    }
}