body button.Button {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 42px;
    padding: 0;
    outline: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: #fafafa;
    background-color: black;
}
body button.ButtonOutlined {
    color: black;
    background-color: white;
    border: 1px solid black;
}
body button.ButtonTomato {
    background: #F34C3F;
    color: white;
    transition: all .2s ease-in-out;
}
body button.ButtonTomato:hover {
    background-color:#dd3a2d;
    text-decoration: none;
}
body button.ButtonTomato:disabled {
    background-color: #F34C3F;
}
body button.NoLink {
    padding: 0 2em;
}
body button.Button a:link,
body button.Button a:visited{
    padding: 0 2em;
    display: block;
    color: #fafafa;
    text-decoration: none;
}