.ButtonOutlined, .ButtonPrimary {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 42px;
    padding: 0;
    outline: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.ButtonPrimary {
    color: #fafafa;
    background-color: black;
}
.ButtonOutlined {
    color: black;
    background-color: white;
    border: 1px solid black;
}
.NoLink {
    padding: 0 2em;
}
.ButtonOutlined a:link,
.ButtonOutlined a:visited,
.ButtonPrimary a:link,
.ButtonPrimary a:visited {
    padding: 0 2em;
    display: block;
    color: #fafafa;
    text-decoration: none;
}