.Button {
    font-family: inherit;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 42px;
    padding: 0;
    outline: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: #fafafa;
    background-color: black;
}
.ButtonOutlined {
    color: black;
    background-color: transparent;
    border: 1px solid black;
}
.ButtonTomato {
    background: #F34C3F;
    color: white;
    transition: all .2s ease-in-out;
}
.ButtonGhost {
    background-color: transparent;
    border: none;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #000;
    line-height: 1.4;
}
.ButtonTomato:hover {
    background-color:#dd3a2d;
    text-decoration: none;
}
.ButtonTomato:disabled {
    background-color: #F34C3F;
}
.ButtonGhost:hover {
    text-decoration: underline;
}
.NoLink {
    padding: 0 2em;
}
.Button a:link,
.Button a:visited{
    padding: 0 2em;
    display: block;
    color: #fafafa;
    text-decoration: none;
}
.ButtonGhost a:link,
.ButtonGhost a:visited {
    color: black;
}