.ProductDetails{
    width: 33%;
    color: #333;
    font-weight: 400;
}
@media (min-width: 1180px) {
    .ProductDetails{
        width: 25%;
    }
}
.ColorsForm fieldset{
    border: none;
    margin: 20px 0 0; 
    padding: 0;
}
.ColorsForm legend {
    letter-spacing: .05em;
    font-size: 10px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.ColorsForm input {/*hiding the radio button*/
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
    margin: 0;
}
.ColorsForm input:disabled,
.ColorsForm input:disabled + label,
.ColorsForm input:disabled + label *{
    cursor: not-allowed;
    color: #d4d4d3;
    background-color: inherit;
}
.ColorsForm label {
    display: inline-block;
    cursor: pointer;
}
.ColorsForm legend span{
    font-size: 10px;
    text-transform: none;
    font-weight: 400;
    color: #8a8a8a;
    vertical-align: baseline;
}
.PerserveWidthWhenLoading {
    min-height: 15px;
}
h2.PerserveWidthWhenLoading  {
    width: 80%;
}
p.PerserveWidthWhenLoading  {
    width: 65%;
    margin-bottom: 5px !important; /*important is added to override the margin 0 in the child component*/
}
data.PerserveWidthWhenLoading{
    width: 30%;
}
legend.PerserveWidthWhenLoading {
    width: 50%;
}
.addToCartBtn {
    background: #F34C3F;
    color: #fafafa;
    font-size: 13px;
    width: 100%;
    padding: 15px 0;
    margin: 30px 0 0;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.addToCartBtn:hover {
    background-color:#dd3a2d;
}
.addToCartBtn:disabled {
    opacity: 0.3;
    cursor: not-allowed;
    background: #F34C3F;
}
.addToCartBtn + p {
    font-size: 10px;
    color: #8a8a8a;
    font-weight: 300;
    margin: 2px 0 0;
}