.RadioButton:checked + .ProductLabel {
    box-shadow: 0 0 0 1px #ddd;
    border-radius: 2px;
}
.RadioButton:checked + .ProductLabel img {
    opacity: 1;
}
.ProductLabel{
    width: 25%;
    transition: all .15s ease;
}
.ProductLabel:hover img{
    opacity: .75;
}
.ProductLabelImageContainer {
    width: 100%;
    position: relative;
    padding: 50% 0;
}
.ProductLabelImageContainer img{
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
    transition: all .15s ease;
}
