.RadioButton:checked + .ProductLabel {
    border: solid 1px #ddd;
    border-radius: 2px;
}
.ProductLabel{
    width: 25%;
}
.ProductLabel:hover img{
    opacity: .75;
}
.ProductLabelImageContainer {
    width: 100%;
    position: relative;
    padding: 50% 0;
}
.ProductLabelImageContainer img{
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
    transition: all .15s ease;
}
