.Social svg{
    display: inline-block;
    margin: 0 2px;
    width: 100%;
}
.Social:link,
.Social:visited {
    text-decoration: none;
}
.Social path {
    fill: #333;
    transition: all 0.3s ease;
}
button.Social {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
