.ProductShowcaseWrapper{
    max-width: 1180px;
    width: 84%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
}
.ProductShowcase {
    padding: 25px 0;
    margin-bottom: 25px;
    background: #f9f9f8;
}