.ProductShowcaseWrapper{
    max-width: 1180px;
    width: 84%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
}
.ProductShowcase {
    background: #f9f9f8;
}