.HomePrimaryBtn {
    color: #fafafa;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 42px;
    padding: 0 2em;
    background-color: black;
    outline: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.HomePrimaryBtn a:link,
.HomePrimaryBtn a:visited {
    display: block;
    color: #fafafa;
    text-decoration: none;
}