.CartContainer {
    width: 90%;
    margin: auto;
    max-width: 1180px;
    padding: 15px 0 60px;
}
@media (min-width: 810px) {
    .CartContainer {
        width: 70%;
        padding: 60px 0;
    }
}