.ImageContainer {
    width: 66.67%;
}
.ProductBigImage {
    mix-blend-mode: multiply;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.ImageContainer {
    position: relative;
    padding: 33.3% 15px;
    margin: 0 auto;
}
.BackgroundFix {
    background: #f9f9f8;
}