.Press {
    text-align: center;
    width: 100%;
}
.Press h2 {
    font-size: 12px;
    font-weight: 400;
    color: #111;
    text-transform: lowercase;
    margin: 3px 0 15px 0;
}
@media (max-width: 571px) {
    .Press h2 {
        margin: 15px 0;
    }
}
.Press h2 span {
    font-weight: 700;
    text-shadow: 0 0.00001em #c4c4c4, 0 -0.00001em #c4c4c4, 0.00001em 0 #c4c4c4, -0.00001em 0 #c4c4c4;
}
.ImgsContainer{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-user-drag: none;
    -moz-window-dragging: none;
}
.PressImage {
    max-height: 25px;
}
.PressImageSpacing {
    padding-right: 15px;
}