.Press {
    text-align: center;
    width: 100%;
}
.Press h2 {
    font-size: 12px;
    font-weight: 400;
    color: #111;
    text-transform: lowercase;
    margin: 3px 0 15px 0;
}
.Press h2 span {
    font-family: "GT Haptik Bold";
}
.ImgsContainer{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.PressImage {
    max-height: 25px;
}
.PressImageSpacing {
    padding-right: 15px;
}