/*Change gender span styling*/
.ChangeGender {
    text-decoration: underline;
    cursor: pointer;
}
/*Container Fields Styling*/
.GendersField {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.SizesField {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(47px, 1fr));
    grid-gap: 5px;
}
/*Labels inside each field styling*/
.GendersField label, .SizesField label {
    font-size: 10px;
    text-transform: uppercase;
    box-shadow: 0 0 0 1px #ddd;
    text-align: center;
    transition: all 0.15s ease;
}
.GendersField label:hover, .SizesField label:hover {
    background-color: #fefefe;
}
.GendersField label {
    width: 48%;
    padding: 14px 0;
    font-weight: 700;
    letter-spacing: .1em;
}
.SizesField label {
    padding: 5px 0;
    border-radius: 3px;
    font-weight: 700;
}
.SizesField label span{
    display: block;
    font-size: 8px;
    font-weight: 300;
    color: #919191;
}
.SizesField input:checked + label,
.SizesField input:checked + label * {
    color:#f4533b ;
}
.SizesField input:checked + label {
    box-shadow: 0 0 0 1px;
}
