.SigninContainer {
	left: 0;
	width: 100%;
}
p.SubmitErrorMessage {
	font-size: 13px;
	color: red;
	line-height: 1.2;
	margin: 5px 0;
}

.RightPanelActive.SigninContainer {
	transform: translateX(-100%);
}
@media(min-width: 500px) {
	.SigninContainer {
		width: 50%;
		z-index: 2;
	}
	
	.RightPanelActive.SigninContainer {
		transform: translateX(100%);
	}
}