.UserPanelContainer, .UserPanelContainer *{
    transition: all 0.3s ease;
}
.UserPanelContainer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
}
.Icon {
    display: block;
    width: 19px;
    height: 19px;    
}
.Icon path {
    stroke: white;
    stroke-width: 10;
}
.IconContainer {
    cursor: pointer;
    max-width: 100px;
    padding: 20.5px 15px;
    position: relative;
}
.IconContainer.Hide {
    max-width: 0;
    padding: 20.5px 0;
    overflow: hidden;
}
.IconContainer.Hide span {
    right: -16px;
}
.IconContainer:hover .Icon path {
    stroke: black;
    stroke-width: 5;
}
@media (min-width: 810px) {
    .IconContainer {
        padding: 25.5px 15px;
    }
.IconContainer.Hide {
    padding: 25.5px 0;

}
}

