.HeroSlide {
    width: 100%;
    position: relative;
    min-height: 430px;
    background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.SlideContentContainer {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    text-align: center;
}
@media (max-width: 810px) {
    .HeroSlide {
        min-height:  350px;
    }
    .SlideContentContainer {
        top: auto;
        bottom: 15%;
        right: 50%;
        transform: translateX(50%);
    }
}
@media(max-width: 500px) {
    .HeroSlide {
        min-height:  430px;
        background-position: 43% 10px;
    }
    .HeroSlide h2 {
        padding-bottom: 7.0em;
        color: white
    }
}
@media(max-width: 400px) {
    .HeroSlide {
        font-size: 13px;
    }
}