/*the switch transition div positioning*/
.FeaturesSwitcher {
    position: absolute;
    top: 50%;
    left: 15%;
    z-index: 2;
    transform: translateY(-50%);
    text-align: center;
}
/*each feature article styling*/
.FeatureSlide {
    text-align: center;
}
/*feature slide header styling*/
.FeatureSlideHeader {
    color: #111;
    font-weight: 600;
    font-size: 26px;
    margin: 0;
}
.FeatureSlideHeader span {
    font-size: 19px;
    font-weight: 500;
}
@media (max-width: 1024px) {
    .FeaturesSwitcher {
        margin: auto;
        left: 0;
        right: 0;
    }
    .FeatureSlideHeader {
        display: none;
    }
}