/*Newsletter section styling*/
.Newsletter {
    text-align: center;
    padding: 65px 0;
    background: #f5f5f5;
}
.NewsletterForm {
    position: relative;
    margin-bottom: 15px;
}
.NewsletterHeading {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: #4f4f4f;
    text-transform: lowercase;
}
.SubscribeText, .Disclaimer {
    color: #8a8a8a;
}
.SubscribeText {
    max-width: 320px;
    margin: 15px auto;
    font-size: 13px;
    line-height: 20px;
}
.SubscribeText span {
    text-decoration: underline;
    cursor: pointer;
}
.Disclaimer {
    margin: 10px 0;
    font-size: 9px;
}
.Disclaimer a:link,
.Disclaimer a:visited {
    color: #8a8a8a;
    text-decoration: none;
}
.NewsletterBtn {
    border-radius: 0 5px 5px 0 !important;
}

/*Error message styling*/
.InputContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0;
    width: max-content;
    margin: auto
}

.InputContainer input{
    border-radius: 5px 0 0 5px;
    margin: 0;
    border: 1px solid #eee;
    min-width: 215px;
    font-size: 11px;
    line-height: 22px;
    color: #666;
    transition: all 0.5s ease;
}
.InputContainer span {
    position: absolute;
    bottom: -10px;
    left: 13px;
}
.InputContainer button {
    min-width: 110px;
}
@media(max-width: 400px) {
    .InputContainer input{
        min-width: 150px;
        font-size: 10px;
    }
    .InputContainer button {
        min-width: 85px;
        font-size: 9px;
    }
}
.LoadingSinnerContainer {
    display: inline-block;
    position: absolute;
    right: -35px;
    min-width: 35px;
    min-height: 100%;
    pointer-events: none;
}