/*Newsletter section styling*/
.Newsletter {
    text-align: center;
    padding: 65px 0;
    background: #f5f5f5;
}
.NewsletterForm {
    position: relative;
    margin-bottom: 15px;
}
.NewsletterHeading {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: #4f4f4f;
    text-transform: lowercase;
}
.SubscribeText, .Disclaimer {
    color: #8a8a8a;
}
.SubscribeText {
    max-width: 320px;
    margin: 15px auto;
    font-size: 13px;
    line-height: 20px;
}
.SubscribeText span {
    text-decoration: underline;
    cursor: pointer;
}
.Disclaimer {
    margin: 10px 0;
    font-size: 9px;
}
.Disclaimer a:link,
.Disclaimer a:visited {
    color: #8a8a8a;
    text-decoration: none;
}
.NewsletterInput {
    outline: none;
    padding: 9px 12px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #eee;
    min-width: 215px;
    font-size: 11px;
    line-height: 22px;
    color: #666;
    transition: all 0.5s ease;
}
.NewsletterInput::placeholder {
    color: #c2c2c2;
}
.NewsletterBtn {
    border-radius: 0 5px 5px 0 !important;
}

/*Error message styling*/
.InputContainer {
    position: relative;
    display: inline-block;
}
.ErrorMessage {
    margin: 0;
    font-size: 9px;
    font-weight: 400;
    color: red;
    position: absolute;
    bottom: 0;
    left: 13px;
}
.IsError {
    border: 1px solid red;
}
.LoadingSinnerContainer {
    display: inline-block;
    position: absolute;
    min-width: 35px;
    min-height: 100%;
    pointer-events: none;
}