.SlipperArticle p {
    margin: 15px 0;
    font-size: 13px;
    line-height: 20px;
    color: #7b7b7b;
    text-align: center;
}
.SlipperArticle img {
    max-width: 100%;
}
.ProductsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
}
.Product {
    list-style-type: none;
    margin: 0;
    padding: 0 1.5%;
}
.Product * {
    margin: 0;
    max-width: 100%;
}
.Product h3 {
    margin-top: -15px;
}
.Product a:link,
.Product a:visited{
    display: block;
    text-decoration: none;
    text-align: center;
    color: #222;
    font-weight: 300;
    position: relative;
    font-size: 13px;
}
.MainImage, .SecondaryImage {
    transition: all 0.3s ease;    
    mix-blend-mode: multiply;
}
.MainImage {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;  
}
.Product a:hover .MainImage {
    opacity: 0;
}

.SecondaryImage {
    opacity: 0;
}
.Product a:hover .SecondaryImage {
    opacity: 1;
}