.ProductsList {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
}
@media(max-width: 600px) {
    .ProductsList {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
}
.Product {
    list-style-type: none;
    margin: 0;
    padding: 0 1.5%;
}
.Product * {
    margin: 0;
    max-width: 100%;
}
.Product h2 {
    margin-top: -15px;
    font-size: 15px;
}
.Product a:link,
.Product a:visited{
    display: block;
    text-decoration: none;
    text-align: center;
    color: #222;
    font-weight: 300;
    position: relative;
    font-size: 13px;
}
.Images {
    position: relative;
    width: 100%;
    padding: 50% 0; /*used to perserve the height of the images until they load */
}
.MainImage, .SecondaryImage {
    transition: all 0.3s ease;    
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    left: 0;
}
.MainImage {
    opacity: 1;  
}
.Product a:hover .MainImage {
    opacity: 0;
}

.SecondaryImage {
    opacity: 0;
}
.Product a:hover .SecondaryImage {
    opacity: 1;
}

/*We're out of stock block styling*/
.NoProducts {
    display: block;
}
.OutOfStock {
    border: 1px solid #ddd;
    font-size: 12px;
    border-radius: 7px;
    text-align: center;
    margin-top: 20px;
    padding: 50px 25px;
    list-style-type: none;
}
.OutOfStock a:link,
.OutOfStock a:visited {
    color: #f64c3f;
    text-decoration: none;
}
.OutOfStock a:hover,
.OutOfStock a:focus {
    text-decoration: underline;
}

/*LOADING STYLING*/
.PerserveWidthWhileLoading {
    text-align: center;
}
.PerserveWidthWhileLoading *{
    display: block;
    margin: 0 auto 5px;
    border-radius: 5px;
}
.PerserveWidthWhileLoading div {
    width: 100%;
    padding: 50% 0;
    margin-bottom: 20px;
}
.PerserveWidthWhileLoading h2{
    width:70%
}
.PerserveWidthWhileLoading p {
    width: 90%;
}
.PerserveWidthWhileLoading span {
    width: 40%;
}