/*font imports*/
@font-face {
  font-family: mahabis-icons;
  src: url("//cdn.shopify.com/s/files/1/0238/5795/t/101/assets/mahabis-icons.eot?432620?#iefix") format("embedded-opentype"), url("//cdn.shopify.com/s/files/1/0238/5795/t/101/assets/mahabis-icons.woff?432620") format("woff"), url("//cdn.shopify.com/s/files/1/0238/5795/t/101/assets/mahabis-icons.ttf?432620") format("truetype"), url("//cdn.shopify.com/s/files/1/0238/5795/t/101/assets/mahabis-icons.svg?432620") format("svg");
  font-style: normal;
  font-weight: 400;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
/*****************************************************************************************************/
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Raleway', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body * {
  box-sizing: border-box;
}
img, figure {
  user-select: none;
  -webkit-user-drag: none;
  -moz-window-dragging: none;
}
.App {
  overflow-x: hidden;
}
.hidden {
  visibility: hidden;
}
.Loading {
  border-radius: 10px;
  margin: 5px;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f0f0f0;
  background: linear-gradient(to right, #f5f4f4 8%, #f0f0f0 38%, #f5f5f5 54%);
  background-size: 100vw 640px !important;
  background-repeat: repeat !important;
  position: relative !important;
  opacity: 1 !important;
}

@keyframes placeHolderShimmer{
  0%{
      background-position: -50vw 0
  }
  100%{
      background-position: 50vw 0
  }
}