.NavItem {
    display: inline-block;
}
.NavLink {
    color: black;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    line-height: 70px;
    padding: 0 10px;
    cursor: pointer;
    text-decoration: none;
}
.NavLink:hover {
    font-weight: 600;
}
/*******dropdown arrow*********/
.closed::after {
    content: "\6a";
    font-family: mahabis-icons !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-size: 8px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: rotate(90deg);
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    transition: all .2s ease;
    line-height: 0;
}
.closed:hover::after {
    font-weight: 400;
}
.open::after {
    transform: rotate(-90deg);
}
.open{
    font-weight: 600;
}