.Wrapper {
    position: relative;
    padding-left: 40px;
}
@media(min-width: 1180px) {
    .Wrapper {
        padding-left: 60px;
    }
}
.Wrapper, .ImageContainer {
    width: 66.67%;
}
.ProductBigImage {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.ImageContainer {
    position: relative;
    padding: 35% 15px;
    margin: 0 auto;
}