.FilterSection {
    display: block;
    padding-right: 1.5%;
    border-right: 1px solid #f5f5f5;
}
.FilterSection h2 {
    font-weight: 600;
    display: block;
    padding: 10px 0 15px;
    margin: 0;
    font-size: 14px;
    color: #111;
    border-bottom: 1px solid #f5f5f5;
    text-transform: lowercase;
}

/*Styling for when it renders in a sidebar*/
.InSideBar {
    border: none;
    padding: 0;
}
.InSideBar h2 {
    padding: 20px 25px;
    font-size: 100%
}
.InSideBar .FiltersWrapper {
    max-height: 90vh;
    overflow: auto;
    padding: 0 25px 15px;
    transition: all 500ms ease;
}
.InSideBar * {
    font-size: 95%;
}
/*decreasing height when the animation of the sidebar is done*/
.AnimationDone .FiltersWrapper{
    max-height: 77vh;
}
